<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="filterCards($event)"></ion-searchbar>

  <ion-list>
    
    <ion-card *ngFor="let card of cards" (click)="clickCard(card)">
      <img [src]="card.img" />
      <ion-card-header>
        <ion-card-subtitle> {{ card.subTitle }} </ion-card-subtitle>
        <ion-card-title> {{ card.title }}</ion-card-title>
        <ion-badge *ngIf="card.isNew" color="danger">Novo</ion-badge>
      </ion-card-header>
      <ion-card-content>
        {{ card.content }}
      </ion-card-content>
    </ion-card>



  </ion-list>
</ion-content>