<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Feed
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-card href="https://papodehomem.com.br/6-sinais-de-que-voce-e-um-namorado-abusivo">
      <img src="../../assets/images/card_abusivo.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Relacionamento</ion-card-subtitle>
        <ion-card-title>6 sinais de que você é um namorado abusivo</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Não importa se você acredita que todo o controle que você exerce sobre ela é para protegê-la ou algo assim.
      </ion-card-content>
    </ion-card>

    <ion-card href="https://papodehomem.com.br/qual-a-diferenca-entre-broderagem-toxica-e-broderagem-saudavel">
      <img src="../../assets/images/card_broderagem.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Masculinidade</ion-card-subtitle>
        <ion-card-title>Qual a diferença entre broderagem tóxica e broderagem saudável?</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Quando a cumplicidade disfarça a vulnerabilidade.
      </ion-card-content>
    </ion-card>

    <ion-card href="https://papodehomem.com.br/ressignificando-o-que-e-coisa-de-menino">
      <img src="../../assets/images/card_menino.jpeg" />
      <ion-card-header>
        <ion-card-subtitle>Masculinidade</ion-card-subtitle>
        <ion-card-title>Ressignificando o que é coisa de menino</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Não adianta fugir de tudo o que é masculino e nem adianta preencher todos os pré-requisitos na lista do machão moderno.
      </ion-card-content>
    </ion-card>

  </ion-list>
</ion-content>