<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Movember
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen padding scroll-y="false">
  <ion-slides>

    <ion-slide>
      <img src="../../assets/images/quality_life.jpg"/>
      <h2>Melhorando a Qualidade de Vida</h2>
      <p>Os homens que lidam com o câncer da próstata e com o câncer dos testículos enfrentam uma batalha difícil. Antes, durante e após do tratamento.</p>

        <p>É por isso que damos aos homens as ferramentas que precisam. Ajudando-os a viver a vida. E viver bem.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/prevent-suicide.jpg"/>
      <h2>A Prefenção de Suícidio nos Homens</h2>
      <p>Os nossos <b>pais</b>, <b>irmãos</b>, <b>filhos</b> e <b>amigos</b> estão morrendo por suicídio. Cada minuto. De cada dia.</p>
      <p>É por isso que criamos novas abordagens em saúde mental. Projetado para homens.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/take_action.jpg"/>
      <h2>Ajudando os Homens a Agir</h2>
      <p>Os homens morrem seis anos mais cedo do que as mulheres. <b>Por razões que são em grande parte evitáveis.</b></p>
      <p>É por isso que estamos conectando homens com passos simples. Tornando mais fácil cuidar da sua saúde</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/images/movember_remember.jpg"/>
      <h2>Bora?!</h2>
      <ion-button fill="clear">Manda vê!<ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>
